* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  /*font-size: 18px;*/
  /*line-height: 18px;*/

  /* Disable text selection highlight. */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.row {
  vertical-align: top;
  clear: both;
}

.cell{
  cursor: pointer;

  float: left;
  /*line-height: 1.3em;*/
  /*width: 1em;*/
  /*height: 1em;*/
  border: 1px dotted black;
  text-align: center;
  /*padding: 2px;*/
  background-color: #ddd;
}

.cell:hover{
  background-color: #ccc;
}

.cell:active {
  background-color: tomato;
}

.revealed, .revealed:hover, .reavealed:active {
  background-color: #888;
}

.marked, .marked:hover, .marked:active {
  background-color: blue;
}
